<li class="list-group-item row" >
  {{#if inEditMode }}
      <div class="form-group">
        {{input value=message.body class="form-control" action="finishedEditing" on="enter" }}
      </div>
  {{else}}
    <div class="pull-left" >
      {{ message.body }}
      <a href="" class="glyphicon glyphicon-remove" {{ action 'delete' message }} ></a>
    </div>
    <span class="pull-right" {{action 'enableEditMode' }} >Edit</span>
    <div class="row">
        <span class="pull-right">{{message.dateSent}}</span>
    </div>
  {{/if}}
</li>