{{#if inEditMode }}
    <div class="form-group">
      {{input value=message.body class="form-control" action="finishedEditing" on="enter" }}
    </div>
{{else}}
  <div class="chat-session-message {{ if ownedByMe 'chat-session-message--owner' 'chat-session-message--other' }} clearfix">
    <img class="chat-session-message__user-image" src={{message.sender.avatar}} />
    <span class="chat-session-message__time">{{message.dateSent}}</span>
    <div class="chat-session-message-body">
      <p class="chat-session-message__text">{{message.body}}</p>
      <span class="pull-right" {{action 'enableEditMode' }} >Edit</span>
      <a href="" class="glyphicon glyphicon-remove" {{ action 'delete' message }} ></a>
    </div>
  </div>
{{/if}}
