<h2>Users</h2>
<ul class="list-group">
{{#each user in loggedInUsers}}
  <li class="list-group-item row" >{{ user.username }} &nbsp;<span class="label {{if user.isConnected 'label-success' 'label-default'}}">&nbsp;</span></li>
{{/each}}
</ul>

<h2>Messages</h2>
<ul class="list-group">
{{#each message in model}}
  {{message-item message=message deleteMessageAction="deleteMessage" updateMessageAction="updateMessage" }}
{{/each}}
</ul>
<form {{action 'messageSubmitted' messageBody on='submit' }} >
    <div class="form-group">
      <label for="exampleInputEmail1">Message</label>
      {{ textarea value=messageBody class="form-control" }}
    </div>
    <button type="submit" class="btn btn-default pull-right">Submit</button>
</form>
{{outlet}}
