<h2>Messages</h2>
<ul class="list-group">
{{#each message in model}}
  <li class="list-group-item" >{{ message.body }} <a href="" class="glyphicon glyphicon-remove" {{ action 'deleteMessage' message }} ></a><span class="pull-right" >Edit</span></li>
{{/each}}
</ul>
<form {{action 'messageSubmitted' messageBody on='submit' }} >
    <div class="form-group">
      <label for="exampleInputEmail1">Message</label>
      {{ textarea value=messageBody class="form-control" }}
    </div>
    <button type="submit" class="btn btn-default pull-right">Submit</button>
</form>
{{outlet}}
